---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { blogPosts, youtubePosts } from '../data/posts';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="180" height="160" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {blogPosts.map(post => (
            <Card url={post.url} image={post.image} title={post.title} body={post.description} />
        ))}
    </ul>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        {youtubePosts.map(post => (
            <Card url={post.url} image={post.image} title={post.title} body={post.description} />
        ))}
    </ul>
</Layout>
<style>
    .gif {
        margin-bottom: 40px;
    }
    
    .gif img {
        margin: 0 20px;
    }
</style>